---
const { title, image, year, score } = Astro.props;
---

<div class="relative flex flex-col justify-center items-center">
  <div
    class="w-52 h-72 rounded border-[5px] object-cover border-neutral-300 shadow-md"
  >
    <div class="relative">
        <figure>
            <img src={image} alt={title} class="w-full h-full object-cover" />
        </figure>
      <div
        class="absolute inset-0 bg-cyan-500 bg-opacity-0 transition duration-300 hover:bg-opacity-75 text-opacity-0 hover:text-opacity-100 text-white opacity-0 hover:opacity-100 "
      >
      <figure>
        <img src="" alt="" srcset="">
      </figure>
        <span class="text-white font-bold text-sm text-center">{score}</span>
      </div>
    </div>
  </div>
  <h1 class="text-xl font-bold text-center text-black mt-2 mb-2">{title}</h1>
  <p class="text-black font-bold">{year}</p>
</div>
